@import '../../globals.css';

.btn {
    background-color: var(--btn-primary-bg);
    border: 1px solid var(--btn-primary-color);
    border-radius: 4px;
    color: var(--btn-primary-color);
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}